* {
  box-sizing: border-box;
}

body{
    width:940px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    color: #2799fb
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 15px;
}


.menu ul {
  padding: 15px;
  padding-top: none;
  padding-right: 10px; 
  margin-bottom: -10px;
  background-color: #2799fb;
  color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
	transition: all 0.3s;

}

a:hover {
	text-decoration: underline;
	transition: all 0.3s;


}

h1 {
	font-weight: 500;
	font-size: 45px;
}

h2 {
	font-weight: 300;
	font-style: italic;
}

h3 {
	font-weight: 300;
	font-style: italic;
	font-size: 18px;
}

h4 {
	font-weight: 300;
	font-style: italic;
	font-size: 12px;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 35%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 65%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 68%;
  }
  .header {
  	width: 68%;
  }

  h1 {
	font-weight: 500;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	font-style: italic;
}

h3 {
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}

h4 {
	font-weight: 300;
	font-style: italic;
	font-size: 12px;
}

}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 60%;
  }
  .header {
  	width: 60%;
  }

   h1 {
	font-weight: 500;
	font-size: 35px;
}

h2 {
	font-weight: 300;
	font-style: italic;
}

h3 {
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}

h4 {
	font-weight: 300;
	font-style: italic;
	font-size: 12px;
}

}
