body {
	width: 90%;
}

@media only screen and (max-width: 640px) {
  body {
    background-color: #eaf6ff;
  }
}

@media (max-width: 500px) {

	h1 {
		font-size: 1.5rem;
	}
}

@media (min-width: 640px) {

	h1 {
		font-size: 2.5rem;
	}
}

div.grid-container aside {
	width: 170px;
	margin: 10px;
}

.grid-container {
  display: inline-block;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
  font-size: 0.8rem;
  text-align: center;
  
}



.grid-item2 {
  width: 30%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8rem;
  text-align: center;

  }

@media (max-width: 480px) {

	.grid-item2 {
		width: 50%;
		display: block;

	}
}

@media (max-width: 640px) {

	.grid-item2 {
		width: 100%;
		display: block;

	}
}


