body {
	background-color: black;
	color: white;
	margin-left: 20px;

		}

h1 {
	color: white;
	margin-left: 20px;

		}

a {
	color: pink;
	text-decoration: none;
 	background-image: linear-gradient(currentColor, currentColor);
  	background-position: 0% 100%;
  	background-repeat: no-repeat;
  	background-size: 0% 2px;
  	transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 2px;
}


}
