body {
	color: rgb(10,10,10);
	background-color: #eeeeee; 
	margin-left: 50px;
	font-family: "Courier", Courier, serif;
}

h2 {
	color: #8b0000 ;
}

h3 {
	color: #8b0000 ;
}


p {
	color: rgb(10,10,10);
}

